<?xml version="1.0" ?>
<model>
    <name>test_chair</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Joseph Tarbath</name>
        <email>joseph.a.tarbath@student.uts.edu.au</email>
    </author>
    <description>Simple chair model</description>
</model>
